{% load static %}

<html>
  <head>    
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Lato:wght@700;900&family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
		<style>
		@media print {
			html, body {
				height: 1256.88px;				
				width: 1614.98px;
			}
			#actions-container {
				display:none;
			}
		}
		@page {
    	size: 1614.98px 1256.88px;
		}
		button {
			background: #4844EB;
		    padding: 9px 24px;
		    color: #fff;
		    border-radius: 8px;
		    font-weight: 600;
		    font-size: 14px;
		    font-family: Lato;
		    border: none;
		    cursor: pointer

		}
		</style>
  </head>
  <body>
    	<div id="actions-container" style="text-align:center;">
			<button style="margin-left: 5px;" onclick="handlePrint()">Imprimir</button>
			<button onclick="handleDownload()">Download</button>
		</div>
		<div
			id="certificate-container"
			style="
				height: 1226.88px;				
				width: 1584.98px;
				margin:auto;
				position:relative;
			"
		>
			<img imgSrc={% static 'paths/certificate_bg.png' %} alt="" width="100%%" style="position:absolute;">		
			<div style="position:absolute; left:9%; width:13.5%; bottom:6%;text-align:center;">
				<span>{{ certificate.created_date|date:'F' }}/{{ certificate.created_date.year }}</span>
			</div>
			<div style="position:absolute; left:35%; width:56%; height:100%; text-align:center; display:flex;flex-direction:column;justify-content:space-between;">
				<div style="margin-top:50px">
					<div style="margin-bottom:80px;">
						<img imgSrc={{ certificate.user_academy.academy.logo.url }} alt="" height="80px">						
					</div>
					<h1 style="color:black;font-family:Lato;font-weight:900;font-size:50px;text-transform: uppercase">Certificado de conclusão</h1>
				</div>
				<div>
					
					<h5 style="font-family:Amiri; font-size:28px;margin:0;">Certificamos que</h5>
					<h3 style="font-family:Tangerine; font-size:80px;font-weight:bold;margin:30px 0;">{{ certificate.user_academy.get_full_name }}</h3>
					<h5 style="font-family:Amiri; font-size:28px;margin:0;">concluiu com êxito a trilha</h5>
					<h4 style="font-family:Lato;font-size:36px;font-weight:bold;margin:20px 0;">{{ certificate.path.name.upper }}</h4>
					<h5 style="font-family:Amiri; font-size:28px;margin:0;">com duração de <b>{{ certificate.get_time_with_label }}</b>.</h5>

				</div>
					<div style="margin-bottom:50px;">
						<img imgSrc="{{ certificate.organizer_signature }}" height="200">
						<hr style="width:300px" />
						<div style="line-height: 20px;">
						{{ certificate.organizer_name }} <br/>
						(Coordenador)
						</div>
					</div>
			</div>
			</div>
		</div>
		<img id="canvas_render" src="" alt="">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.0.0/jspdf.umd.min.js"></script>
    <script
      type="text/javascript"
      src="https://html2canvas.hertzen.com/dist/html2canvas.js"
    ></script>
		<script>
			window.onload = function(){
				const urlParams = new URLSearchParams(window.location.search)
				const images = document.querySelectorAll('img');				
				if(urlParams.get('download') == 0)
					document.querySelector('#actions-container').style.display = 'none';

				images.forEach(async el => {
					const src = el.getAttribute('imgSrc');
					if(src){
						let val = await fetch(src, {mode:'cors', method:'GET'});
						const blob = await val.blob();
						const reader = new FileReader();
						reader.readAsDataURL(blob); 
						reader.onloadend = function() {							              
							el.src = reader.result;
						}
					}
				});
			}
			function generatePdf(callback){
				const container = $("#certificate-container");
        var HTML_Width = container.width();
        var HTML_Height = container.height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + top_left_margin * 2;
        var PDF_Height = HTML_Height + top_left_margin * 2;
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;
        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas(container[0]).then(function (canvas) {
          var imgData = canvas.toDataURL("image/jpeg", 1.0);
          var pdf = new jspdf.jsPDF("landscape", "pt", [PDF_Width, PDF_Height]);
          pdf.addImage(
            imgData,
            "JPG",
            top_left_margin,
            top_left_margin,
            canvas_image_width,
            canvas_image_height
          );
          for (var i = 1; i <= totalPDFPages; i++) {
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(
              imgData,
              "JPG",
              top_left_margin,
              -(PDF_Height * i) + top_left_margin * 4,
              canvas_image_width,
              canvas_image_height
            );
          }
					document.querySelector('#canvas_render').src = imgData;
					{% comment %} pdf.save("certificado.pdf"); {% endcomment %}
        });
			}
      function handleDownload() {
        generatePdf();
      }
			function handlePrint(){
				window.print();
			}
    </script>
  </body>
</html>
