{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/tqn6vrt.css" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <style>
      @media print {
        html,
        body {
          height: 1241px;
          width: 1755px;
        }
        #actions-container {
          display: none;
        }
      }
      @page {
        size: 1755px 1241px;
      }
      button {
        background: #4844eb;
        padding: 9px 24px;
        color: #fff;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        font-family: Lato;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="actions-container" style="text-align: center">
      <button style="margin-left: 5px" onclick="handlePrint()">Imprimir</button>
      <button onclick="handleDownload()">Download</button>
    </div>

    <div
      id="certificate-container"
      style="height: 1241px; width: 1755px; margin: auto; position: relative"
    >
      <img imgSrc={% static 'paths/organicos_bg.png' %} alt="" width="100%"
      style="position:absolute;">
      <div style="position: absolute; left: 524px; top: 159px">
        <span
          style="
            font-family: fieldwork, sans-serif;
            font-size: 77.8px;
            color: rgb(63, 97, 39);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
          "
          >CERTIFICADO DE CONCLUSÃO</span
        >
      </div>
      <div style="position: absolute; left: 527px; top: 243px">
        <span
          style="
            font-family: fieldwork, sans-serif;
            font-size: 43.3px;
            color: rgb(90, 90, 90);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            text-transform: uppercase;
          "
          >PARABÉNS, {{ certificate.user_academy.get_full_name }}!</span
        >
      </div>

      <div style="position: absolute; left: 527.39px; top: 395.69px">
        <span
          style="
            font-family: fieldwork, sans-serif;
            font-size: 31.8px;
            color: rgb(90, 90, 90);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
          "
          >COM A CONCLUSÃO DO <b>MÓDULO 1</b> DA ACADEMIA CULTIVE ORGÂNICOS,<br />
          VOCÊ EXPANDIU SUAS HABILIDADES E AMPLIOU O SEU CONHECIMENTO<br />
          SOBRE ORGÂNICOS.</span
        >
      </div>

      <div style="position: absolute; left: 526.98px; top: 568.63px">
        <span
          style="
            font-family: fieldwork, sans-serif;
            font-size: 32.3px;
            color: rgb(90, 90, 90);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
          "
          class="cls_007"
          >CARGA HORÁRIA: {{ certificate.get_time_with_label }}</span
        >
      </div>

      <div style="position: absolute; left: 526.98px; top: 607.32px">
        <span
          style="
            font-family: fieldwork, sans-serif;
            font-size: 32.3px;
            color: rgb(90, 90, 90);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
          "
          >DATA DE CONCLUSÃO: {{ certificate.created_date|date:'d/m/Y' }}</span
        >
      </div>
    </div>

    <img id="canvas_render" src="" alt="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.0.0/jspdf.umd.min.js"></script>
    <script
      type="text/javascript"
      src="https://html2canvas.hertzen.com/dist/html2canvas.js"
    ></script>
    <script>
      window.onload = function(){
      	const urlParams = new URLSearchParams(window.location.search)
      	const images = document.querySelectorAll('img');
      	if(urlParams.get('download') == 0)
      		document.querySelector('#actions-container').style.display = 'none';

      	images.forEach(async el => {
      		const src = el.getAttribute('imgSrc');
      		if(src){
      			let val = await fetch(src, {mode:'cors', method:'GET'});
      			const blob = await val.blob();
      			const reader = new FileReader();
      			reader.readAsDataURL(blob);
      			reader.onloadend = function() {
      				el.src = reader.result;
      			}
      		}
      	});
      }
      function generatePdf(callback){
      	const container = $("#certificate-container");
           var HTML_Width = container.width();
           var HTML_Height = container.height();
           var top_left_margin = 15;
           var PDF_Width = HTML_Width + top_left_margin * 2;
           var PDF_Height = HTML_Height + top_left_margin * 2;
           var canvas_image_width = HTML_Width;
           var canvas_image_height = HTML_Height;
           var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


           html2canvas(container[0]).then(function (canvas) {
             var imgData = canvas.toDataURL("image/jpeg", 1.0);
             var pdf = new jspdf.jsPDF("landscape", "pt", [PDF_Width, PDF_Height]);
             pdf.addImage(
               imgData,
               "JPG",
               top_left_margin,
               top_left_margin,
               canvas_image_width,
               canvas_image_height
             );
             for (var i = 1; i <= totalPDFPages; i++) {
               pdf.addPage(PDF_Width, PDF_Height);
               pdf.addImage(
                 imgData,
                 "JPG",
                 top_left_margin,
                 -(PDF_Height * i) + top_left_margin * 4,
                 canvas_image_width,
                 canvas_image_height
               );
             }
      		document.querySelector('#canvas_render').src = imgData;
      		{% comment %} pdf.save("certificado.pdf"); {% endcomment %}
           });
      }
         function handleDownload() {
           generatePdf();
         }
      function handlePrint(){
      	window.print();
      }
    </script>
  </body>
</html>
